/*----things----*/

:root {
  --accent-color: #2196f3;
  --color1: #ffffff;
  --color2: #212121;
  --color3: #f5f4fa;
  --color4: #eeeeee;
  --color5: #2f303a;
  --color6: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #757575;
}

/*---------header---------*/

.main-logo {
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.studio-white {
  color: var(--color1);
}

.studio-black {
  color: var(--color2);
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color2);
}

.present {
  color: var(--accent-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/*---------hero---------*/

 .visually-hidden-title{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.filter-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  color: var(--color2);
}

.filter-btn:hover,
.filter-btn:focus,
.present-btn {
  background-color: var(--accent-color);
  color: #ffffff;
}


.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--color2);
}

.hero-after-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-item {
  background: var(--color1);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

/*---------footer---------*/

.footer {
  background-color: var(--color5);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress {
  font-style: inherit;
}

.footer-link {
  
  color: var(--color1);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
