/*----things----*/

:root {
  --accent-color: #2196f3;
  --color1: #ffffff;
  --color2: #212121;
  --color3: #f5f4fa;
  --color4: #eeeeee;
  --color5: #2f303a;
  --color6: rgba(255, 255, 255, 0.6);
  --color7: #757575;
  --color8: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color7);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--color2);
  margin-bottom: 50px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.item {
  margin-top: 30px;
  margin-left: 30px;
}

/*----------logo-----------*/
.header .main-logo {
  margin-right: 93px;
}
.main-logo {
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.studio-white {
  color: var(--color1);
}

.studio-black {
  color: var(--color2);
}
/*---------header---------*/

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  color: var(--color2);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

/* .header {
  padding-top: 24px;
  padding-bottom: 25px;
} */

.connect-list {
  display: flex;
  margin-left: auto;
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
}

.present {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/*---------portfolio---------*/

.main {
  border-top: 1px solid #ececec;
}

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-btn {
  border: none;
  padding: 6px 22px;

  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  color: var(--color2);
  background-color: #f5f4fa;
}

.list-filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-item {
  flex-basis: calc(100% \3 - 30px);
  background: var(--color1);
}

.portfolio-wrapper {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.filter-btn:hover,
.filter-btn:focus,
.present-btn {
  background-color: var(--accent-color);
  color: var(--color1);
}

.the-hero-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--color2);
}

.hero-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/*---------mainpage---------*/
.hero-section {
  background-color: var(--color5);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 670px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color1);
}

.hero-btn {
  padding: 10px 32px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;

  align-items: center;
  letter-spacing: 0.06em;

  color: var(--color1);

  background: var(--accent-color);
  box-shadow: var(--color8);
  border-radius: 4px;
  border: none;
}
/* .specials-section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

.specials-item {
  flex-basis: calc(100% / 4 - 30px);
}

.specials-title {
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;

  color: var(--color2);
}

.what-we-are-doing {
  padding-top: 0px;
}

.what-item {
  flex-basis: calc(100% / 3 - 30px);
}

.team-section {
  background: var(--color3);
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  background-color: var(--color1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  padding: 30px;
}

.team-namez,
.team-after-namez {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-namez {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--color2);
}

/*---------footer---------*/

.footer {
  background-color: var(--color5);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 215px;
}

.main-footer-link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  color: var(--accent-color);
}

.footer .main-logo {
  margin-bottom: 20px;
  display: block;
}

.footer-list :not(:last-child) {
  margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
  color: var(--color6);
}

.footer-adress {
  font-style: inherit;

  display: flex;
}

.footer-link {
  color: var(--color1);
}

.footer-contacts {
  color: var(--color6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
