/*----things----*/

:root {
  --accent-color: #2196f3;
  --color1: #ffffff;
  --color2: #212121;
  --color3: #f5f4fa;
  --color4: #eeeeee;
  --color5: #2f303a;
  --color6: rgba(255, 255, 255, 0.6);
  --color7: #757575;
  --color8: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --color9: #afb1b8;
  --color10: #ececec;
  --color11:rgba(0, 0, 0, 0.12);
  --color12:rgba(0, 0, 0, 0.1);
  --color13:rgba(0, 0, 0, 0.08);
  --color14:rgba(0, 0, 0, 0.06);
  --color15:rgba(0, 0, 0, 0.16);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color7);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--color2);
  margin-bottom: 50px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.item {
  margin-top: 30px;
  margin-left: 30px;
}

/*----------logo-----------*/
.header .main-logo {
  margin-right: 93px;
}
.main-logo {
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.studio-white {
  color: var(--color1);
}

.studio-black {
  color: var(--color2);
}
/*---------header---------*/

.header-container {
  display: flex;
  align-items: center;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  color: var(--color2);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.connect-list {
  display: flex;
  margin-left: auto;
}

.header-link {
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
}

.present {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-icon:hover,
.header-icon:focus {
  fill: var(--accent-color);
}

/*---------portfolio---------*/

.header {
  border-bottom: 1px solid var(--color10);
}

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-btn {
  border: none;
  padding: 6px 22px;

  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  color: var(--color2);
  background-color: var(--color3);
}

.list-filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  background: var(--color1);
}

.portfolio-wrapper {
  padding: 20px 24px;
  background: var(--color1);
  border: 1px solid var(--color4);
  border-top: none;
  box-sizing: border-box;
}

.portfolio-link {
  display: flex;
  flex-direction: column;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px var(--color11), 0px 4px 4px var(--color14),
    1px 4px 6px var(--color15);
}

.filter-btn:hover,
.filter-btn:focus,
.present-btn {
  background-color: var(--accent-color);
  color: var(--color1);
  box-shadow: 0px 3px 1px var(--color12), 0px 1px 2px var(--color13),
    0px 2px 2px var(--color11);
}

.the-hero-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--color2);
}

.hero-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/*---------mainpage---------*/
.hero-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imgs/backgroundimage.jpg);
  background-color: var(--color5);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 670px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color1);
}

.hero-btn {
  padding: 10px 32px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;

  align-items: center;
  letter-spacing: 0.06em;

  color: var(--color1);

  background: var(--accent-color);
  box-shadow: var(--color8);
  border-radius: 4px;
  border: none;
}
/* .specials-section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

.specials-item {
  flex-basis: calc(100% / 4 - 30px);
}

.specials-list {
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: var(--color3);
  border-radius: 4px;
  display: flex;
}

.specials-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: var(--color2);
}

.what-we-are-doing {
  padding-top: 0px;
}

.what-item {
  flex-basis: calc(100% / 3 - 30px);
}

.team-section {
  background: var(--color3);
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  background-color: var(--color1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item + .social-item {
  margin-left: 10px;
}

.footer .social-link {
  color: var(--color1);
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color9);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--color1);
}

.social-icon {
  fill: currentColor;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

li.clients-item {
  flex-basis: calc(100% / 6 - 30px);
}

/* .clients-list {
  display: flex;
  justify-content: center;
} */

.clients-link {
  height: 92px;
  border: 1px solid;
  display: flex;
  border-radius: 4px;
  border-color: currentColor;
  justify-content: center;
  align-items: center;
  color: var(--color9);
}

.clients-link:hover,
.clients-link:focus {

  color: var(--accent-color);
 
}

.clients-icon {
  fill: currentColor;
}

.team-wrapper {
  padding: 30px;
}

.team-namez,
.team-after-namez {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team-namez {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--color2);
}

/*---------footer---------*/

.footer {
  background-color: var(--color5);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-cont-item:not(:last-child) {
  margin-right: 70px;
}

.main-footer-link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  color: var(--accent-color);
}

.footer .main-logo {
  margin-bottom: 20px;
  display: block;
}

.joinus {
  margin-bottom: 20px;
  display: flex;
  /* justify-content: center;
align-items: center;  */

  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: var(--color1);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
  color: var(--color6);
}

.footer-adress {
  font-style: inherit;
}

.footer-link {
  color: var(--color1);
}

.footer-contacts {
  color: var(--color6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-social-list {
  display: flex;
  /* justify-content: center; */
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  color: var(--color1);
}

.footer-social-icon {
  fill: currentColor;
}
